


<form action="." method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>   

</form>


{% comment %} {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
 {% endcomment %}

{% comment %} <input type="file" id="videoInput" accept="video/*" onchange="loadVideo()"> {% endcomment %}
<video id="videoPlayer" width="640" height="360" controls></video>
<p id="noFileMessage" style="color: red; display: none;">No file selected</p>
<p>HIIIIIXXX</p>

<script>
    // Get the video player element
    const videoPlayer = document.getElementById('videoPlayer');

    // Set the video source path
    const videoPath = "{{videos}}";

    
    const paragraph = document.createElement('h1');

    // Create a text node with the content you want in the paragraph
    const textNode = document.createTextNode(videoPath);

    // Append the text node to the paragraph element
    paragraph.appendChild(textNode);

    // Append the paragraph element to the body of the HTML document
    document.body.appendChild(paragraph);

    // "/media/videos/23/20230624111214_zlUfm3h.mp4"
    // Set the source of the video player
    videoPlayer.src = videoPath;

    // Load and play the video
    videoPlayer.load();
    videoPlayer.play();
  </script>


{% comment %} <script>
    function loadVideo() {
      const videoInput = document.getElementById('videoInput');
      const videoPlayer = document.getElementById('videoPlayer');

      const file = "E:\NatLearn\app\media\videos\23\20230624111214.mp4";

      if (file) {
      const objectURL = URL.createObjectURL(file);
      videoPlayer.src = objectURL;
      videoPlayer.load();
      noFileMessage.style.display = 'none';
    } else {
      // Display a message when no file is selected
      videoPlayer.src = ''; // Clear the previous source
      noFileMessage.style.display = 'block';
    }
  }
  </script> {% endcomment %}

{% comment %} {% for video in videos %}
    <video  width="320" height="240" controls>
        <source src="{{ video.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
{% endfor %} {% endcomment %}

{% block content %}
    <h2>Display Video</h2>
    {% for video in videos %}
        {{video.file.url}}
        <p>{{ video.title }}</p>
    {% endfor %}
{% endblock %}


{% comment %} <script>
    function loadVideo() {
      const videoInput = document.getElementById('videoInput');
      const videoPlayer = document.getElementById('videoPlayer');

      const file = videoInput.files[0];

      if (file) {
        const objectURL = URL.createObjectURL(file);
        videoPlayer.src = objectURL;
        videoPlayer.load();
      }
    }
  </script> {% endcomment %}